main {
    margin: 0 auto;
    /* background-color: aquamarine; */
    width: 45vw;
    margin-top: 25 vh;
}

button {
    background-color: rgb(200, 231, 200);
    color: black;
    width: 40%;
    color: ;
    text-align: left;
    
}

#timer {
    position: absolute;
    right: 5px;
}

#answer-bank {
    display:flex;
    flex-direction: column;
}
h2 {
    color: rgb(58, 0, 58);
}

#start-button {
    text-align: center;
    width: 200px;
    height: 150px;
}

#landing-main {
    width: 15%;
    margin-top: 25vh;
}